

.title {
display: inline-block;
color: rgb(34, 29, 34);
padding-bottom: 70px;
font-weight: bold;
font-family: Georgia, serif;
font-size: 25px;
}
.img{
   
    margin-bottom: -22px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 27px;
    padding-bottom: 27px;
    height: 216px;
    width: 319px;
}  
.img:hover {
    border: 1px solid  rgb(233, 10, 10);
    box-shadow: 5px 10px rgb(233, 10, 10);
  } 

.red:hover {
 color: rgb(233, 10, 10);
  }
.video:hover{
    border: 3px solid  rgb(233, 10, 10);
}